<form [formGroup]="approvalForm" novalidate >

  <table class="table table-sm table-responsive-sm">
    <thead>
    <tr>
      <th>Sector</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody formArrayName="sectors">

    <tr *ngFor="let sector of approvalForm.controls.sectors.controls; let i=index" [formGroupName]="i">
      <div >
    <td>

      <div >
        <select type="button"  id="button-basic" dropdownToggle type="text" class="btn btn-sm dropdown-toggle"
                aria-controls="dropdown-basic" formControlName="app_sector_approvalSector" (ngModelChange)="onChangeSectorSel($event)">
          <span class="caret"></span>
          <option role="menuitem" *ngFor="let sector of sectorList" role="menu" aria-labelledby="button-basic" [ngValue]="sector">{{sector.sectorName}}</option>
        </select>
      </div>

    </td>
    <td><input type="text"  formControlName="app_sector_approvalName"></td>
      <td>
        <input type="text" class=" input-sm" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{dateInputFormat: 'DD MMM YYYY'}" formControlName="app_sector_approvalDate" (ngModelChange)="onChangeDate($event)">
      </td>
        <td>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
        </td>
      </div>
    </tr>
    </tbody>

  </table>

<button type="submit" (click)="addSectors()">+Add</button>


  <table class="table table-sm table-responsive-sm">
    <thead>
    <tr>
      <th>Country</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody formArrayName="countries">

    <tr *ngFor="let country of approvalForm.controls.countries.controls; let i=index" [formGroupName]="i">

      <td>

        <div >
          <select type="button"  id="button-basic" dropdownToggle type="text" class="btn btn-sm dropdown-toggle"
                  aria-controls="dropdown-basic" formControlName="app_country_approvalCountries" (ngModelChange)="onChangeCountrySel($event)">
            <span class="caret"></span>
            <option role="menuitem" *ngFor="let country of countryList" role="menu" aria-labelledby="button-basic" [ngValue]="country">{{country.countryName}}</option>
          </select>
        </div>

      </td>

      <td><input type="text" FormControlName="app_country_approvalName"></td>
      <td>
        <input type="text" class=" input-sm form-control</form>" #dp="bsDatepicker" bsDatepicker
                [bsConfig]="{dateInputFormat: 'DD MMM YYYY'}" [bsValue]="bsValue" FormControlName="app_country_approvalDate">
      </td>



    </tr>
    </tbody>

  </table>

  <button type="submit" (click)="addCountry()">add country</button>



  <button type="submit" (click)="onSubmit()">Submit</button>
</form>

