<form [formGroup] ="approvalsForm">
  <table class="table table-sm table-responsive-sm">
    <thead>
    <tr>
      <th>Column2</th>
      <th>Column3</th>
      <th>Column4</th>
      <th>Column9</th>
    </tr>
    </thead>
    <tbody >
<tr>
  <td>
    <div class="dropdown form-control" formControlName="sector">
      <button class="btn btn-sm dropdown-toggle dropdown-style"
              type="button" id="approvals-sector-name" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" >
        Please select sector
      </button>
      <div class="dropdown-menu dropdown-lg-item" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let sector of sectors" >
          <a class="dropdown-item">{{sector}}</a>
        </li>
      </div>
    </div>
  </td>

  <td><input class="form-control" type="text"></td>
  <td>
        <input type="text" class=" input-sm form-control</form>" #dp="bsDatepicker" bsDatepicker
               [bsConfig] = "datePickerConfig" [bsValue]="bsValue">
  </td>
  <td>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="input-sm custom-file-input form-control" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  </td>
</tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-sm btn-secondary">Add More</button>
  <pre>{{approvalsForm.value | json}}</pre>
</form>
