<div id="table1" class=" table-responsive-sm">
  <table class="table table-sm">
    <thead>
    <tr>
      <th>Column2</th>
      <th>Column3</th>
      <th>Column4</th>
      <th>Column9</th>
    </tr>
    </thead>
    <tbody >
<tr>
  <td>
    <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button"
            class="btn btn-secondary btn-sm dropdown-toggle"
            aria-controls="dropdown-basic">
      Button dropdown <span class="caret"></span>
    </button>
      <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-dropup">
        <li role="menuitem" class="dropdown-item">Action</li>
        <li role="menuitem" class="dropdown-item">Another action</li>
        <li role="menuitem" class="dropdown-item">Something else here</li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem" class="dropdown-item">Separated link</li>
      </ul>
</div>
  </td>
  <td><input type="text"></td>
  <td>
    <p><code>bsValue</code> property sets initial state in this example</p>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               class="form-control"
               #dp="bsDatepicker"
               bsDatepicker
               [bsConfig] = "datePickerConfig"
               [bsValue]="bsValue">
      </div>

    </div>

  </td>
  <td><input type="file"></td>
</tr>
    </tbody>
  </table>
</div>
  <div><input type="button" class="btn btn"></div>

