.dropdown-lg-item {
  overflow-y: auto;
  height: 100px;
}
.dropdown-item.active, .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #6c757d;
}
.dropdown-style{
  background: white;
}
